.about-section {
    p {
        font-size: $font-size-h3;
        font-family: $secondary-font-family;
    }
}
.team-section {
    background: $primary-red;
    &>.title {
        color: $primary-white;
    }
    .member {
        .name {
            color: $primary-white;
        }
        .role {
            color: $primary-black;
        }
        .avatar {
            border: 5px solid $secondary-red;
        }
    }
}