.what-we-do-banner {
}

.what-we-do {
    .tile {
        @include normal-and-xs-property('border', none,  solid 1px rgba(0, 0, 0, 0.1));
        padding: 30px 15px;
        
        img, p, h3 {
            margin-bottom: 15px;
        }
        img {
            @include normal-and-xs-property('height', 72px, 60px);
        }
        p {
            font-size: $font-size-medium;
            color: $secondary-grey;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

.our-work {
    .tile {
        min-height: 300px;
        -webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
        -moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
        box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.1);
        img {
            margin: 0 auto;
            max-height: 300px;
        }
    }
    p {
        margin-top: 16px;
        margin-bottom: 24px;
        @include normal-and-xs-property('font-size', $font-size-h3, $font-size-large);
        color: $primary-grey;
    }
    a {
        margin-bottom: 24px;
    }
}

.our-process {
    .tile {
        img {
            height: 320px;
        }
        p {
            @include normal-and-xs-property('font-size', $font-size-h3, $font-size-large);
            color: $secondary-black;
            padding-top: 35px;
            padding-bottom: 16px;
        }
    }
}

.our-thoughts {
    &.section .tile {
        @include normal-and-xs-property('margin-bottom', 16px, 0);
        .blog-tile {
            margin-bottom: 8px;
        }
    }
}
