<section class="clearfix">
  <div class="case-study-banner">
      <div class="banner-image"></div>
    <div class="container text-xs-center">
      <div class="col-sm-offset-1 col-sm-10">
        <ul class="list-inline text-xs-center">
          <li class="hash-tag font-weight-bold">lorem</li>
          <li class="hash-tag font-weight-bold">dolor</li>
          <li class="hash-tag font-weight-bold">ipsum</li>
        </ul>
        <h1 class="title font-weight-bold text-xs-center">Will your grandkids have longer thumbs and shorter tongues? </h1>

        <a class="btn btn-hollow with-arrow font-weight-bold visit-site-button" href="">EyzUp on Play Store</a>

        <div class="case-study-synopsis">
          <p>Are we human because of unique traits and attributes not shared with either animal or machine? The definition of “human” is circular: we are human by virtue of the properties that make us human (i.e., distinct from animal and machine). It is a definition by negation: that which separates us from animal and machine is our “human-ness”.
          </p>
          <p>We are human because we are not animal, nor machine. But such thinking has been rendered progressively less tenable by the advent of evolutionary and neo-evolutionary theories which postulate a continuum in nature between animals and Man.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="case-study-summary section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h3 class="font-weight-bold">The Challenge</h3>
        <p>There are advances being made in science and technology everyday, and a good example of this is the LCD monitor.</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h3 class="font-weight-bold">Our Solution</h3>
        <p>There are advances being made in science and technology everyday, and a good example of this is the LCD monitor.</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h3 class="font-weight-bold">The Outcome</h3>
        <p>Philosophy is considered a science but it is difficult to say, when one has to compare with an ordinary science, for example biology, or chemistry. </p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="sub-heading font-weight-bold">The Problem</h1>
        <p class="case-study-text">Today we find people sitting across a table in restaurant and playing Candy Crush while waiting for their food to be served instead of having a physical conversation. Even if there is a conversation its about the latest information that one found on their device. The brain is getting rewired by these devices as we speak, attention span is becoming shorter and shorter; we seek constant instant gratification from the virtual world; concentration times are getting shorter; inability to assess the physical world or reflex action is becoming slower to mention a few. If you are a believer in Darwin’s school evolution, you can safely assume your grandchildren will end up having longer thumbs and shorter tongues!</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="hidden-xs">
          <h1 class="sub-heading font-weight-bold">The Solution</h1>
          <p class="case-study-text">
            What gets measured gets improved!
            We all have heard it many times over but curiously enough, there isn’t a way to measure the amount of time we all end up wasting on a Facebook or Instagram or Twitter.
            EyzUp’s approach is to measure the time spent on apps, set goals for time spent on high usage apps and then use this as a guiding structure to reduce the addiction to apps and spend more time in real social interactions with friends and family.
            The feature set was designed keeping in mind BJ Fogg’s behaviour model of B=MAT [B=Behaviour, M=Motivation, A=Ability, T=Trigger]. The app is designed to provide its users’ a motivation, ability and trigger to change their behaviour of spending large amounts of time on their smart devices and spend more time in the real world.
            We built EyzUp considering two personas.
            <ol>
              <li>James - 30 year old single male professional who spends a lot of time on the virtual social world.</li>
              <li>Mary and Mike - Mary a working mother, is looking for a tool she can use to monitor the usage behaviour of Mike, her son to ensure that Mike doesn’t get addicted to smart devices very early on.</li>
            </ol>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="hidden-xs">
          <h1 class="sub-heading font-weight-bold">Traction</h1>
          <p class="case-study-text">The app is currently being used by about 150 early adopters in Singapore, Thailand, Malaysia and the United Kingdom.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="hidden-xs">
          <h1 class="sub-heading font-weight-bold">Product/Key Features</h1>
          <p class="case-study-text">
            <p>The app is currently being used by about 150 early adopters in Singapore, Thailand, Malaysia and the United Kingdom.</p>
            <h3>Features for James:</h3>
            <ol>
              <li>Social Login - Google and Facebook</li>
              <li>Usage Reports - Total phone usage and detailed app usage (Today and Yesterday)</li>
              <li>Daily Usage Limits for Apps
                <ol>
                  <li>Soft limits - 3 levels of warning when the user cross the limit using the color codes to help the user resist the urge to constantly checking his phone.</li>
                  <li>Hard Limit - Temporarily blocks the app after exhausting the usage limit. The app will be enabled after 24 hours.</li>
                  <li>Maximum usage limit allowed for any app is 90 mins (as studies have shown that constant usage of an app for more than 90mins is a sign of addiction)</li>
                </ol>
              </li>
              <li>EyzUp Time - Similar to do-not-disturb profile which help the user schedule phone - away time.
                <ol>
                  <li>With black listing of apps, limiting users to 5 whitelisted apps</li>
                  <li>Blocking notifications from the blacklisted apps in EyzUp time</li>
                  <li>Repeat features</li>
                </ol>
              </li>
              <li>Notification on yesterday’s most used app.</li>
              <li>Cloud backup</li>
            </ol>
            <h3>Features for Mary(mother) and Mike(son)</h3>
            <ol>
              <li>Child device registration with QR code.
                <ol>
                  <li>3 step registration process</li>
                </ol>
              </li>
              <li>Support multiple child devices</li>
              <li>Parent and child de-addiction - Switching between child and parent profiles.</li>
              <li>Child device listing in the parent app.</li>
              <li>EyzUp time for the kids like sleep time, dinner time, study time</li>
              <li>Reporting the all the apps installed on the child device.</li>
              <li>Usage reports from the child device delivered in the parent app</li>
              <li>Daily usage limit for parent and child devices.</li>
              <li>Child device only shows the reports, all the other configuration are hidden in the child device. This is to give more control to the parent.</li>
            </ol>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="testimony">
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <p class="quote">
            <em>"Multunus is extremely transparent and honest about issues that arise after a contract is signed. They care not just about money, but also fairness and preserving the customer relationship."</em>
          </p>
          <div class="client-info">
            <div class="row clearfix">
              <div class="horizontal-line">
                <hr>
              </div>
              <div class="client-image-container">
                <%= image_tag 'RMS.jpg', class: 'text-xs-center client-image'%>
              </div>
            </div>
            <h4 class="client-detail font-weight-bold">Gautham Devlekar</h4>
            <h4 class="client-detail">Oneira Technologies</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="what-we-learned-text col-md-6">
          <h1 class="sub-heading font-weight-bold">What we learned</h1>
          <p class="case-study-text">Once the printer ink runs dry it has to be replaced with another inkjet cartridge. There are many reputed companies like Canon, Epson, Dell, and Lexmark that provide the necessary cartridges to replace the empty cartridges. Replacing inkjet cartridge can add to a very big cost. It could be worse if you have to replace the empty cartridges frequently every month. Nowadays many buyers are making use of compatible Inkjet Cartridges as they are less expensive and are easily available online. These compatible inkjet cartridges are available from the third party at a much lower price. These cartridges can be replaced by the printer ink of similar brand. 
          </p>
        </div>
        <div class="what-we-learned-figures col-md-6"></div>
      </div>
    </div>
  </div>
</section>

<div class="next-case-study-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3 class="next-project font-weight-extra-bold">next project</h3>
        <ul class="list-inline hidden-xs">
          <li class="hash-tag font-weight-bold">lorem</li>
          <li class="hash-tag font-weight-bold">dolor</li>
          <li class="hash-tag font-weight-bold">ipsum</li>
        </ul>
        <h1 class="title font-weight-bold xs-extra-padding">EyzUp saves people from their smartphones</h1>
      </div>
    </div>
  </div>
</div>
