<section class="clearfix">
  <div class="case-study-banner">
      <div class="banner-image"></div>
    <div class="container text-xs-center">
      <div class="col-sm-offset-1 col-sm-10">
        <ul class="list-inline text-xs-center">
          <li class="hash-tag font-weight-bold">lorem</li>
          <li class="hash-tag font-weight-bold">dolor</li>
          <li class="hash-tag font-weight-bold">ipsum</li>
        </ul>
        <h1 class="title font-weight-bold text-xs-center">What if Flipkart did Rental Agreements? </h1>

        <a class="btn btn-hollow with-arrow font-weight-bold visit-site-button" href="">Visit vakilsearch.com</a>

        <div class="case-study-synopsis">
          <p>That is one of the many questions that made Hrishikesh Datar curious enough to start VakilSearch.com</p>
          <p>VakilSearch is in the business of making tiresome and tedious legal procedures as simple as buying a product from Flipkart or Amazon. Gone are the days where you'd need to run around confused how to get even simple legal and statutory requirements sorted out. Read on to learn more.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="case-study-summary section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h3 class="font-weight-bold">The Challenge</h3>
        <p>There are advances being made in science and technology everyday, and a good example of this is the LCD monitor.</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h3 class="font-weight-bold">Our Solution</h3>
        <p>There are advances being made in science and technology everyday, and a good example of this is the LCD monitor.</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h3 class="font-weight-bold">The Outcome</h3>
        <p>Philosophy is considered a science but it is difficult to say, when one has to compare with an ordinary science, for example biology, or chemistry. </p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="sub-heading font-weight-bold">Business</h1>
        <p class="case-study-text">A venture funded startup from Chennai with about 100 people on the team, they had significant traction in the market but most of the process was offline driven through phone calls and emails. The old website was only designed to capture customer contact details and pass on the details to the business development team. It was the business development team’s responsibility to call/email the customer, ask a long list of questions and then eventually get the customer to pay for the services.</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="hidden-xs">
          <h1 class="sub-heading font-weight-bold">Traction</h1>
          <p class="case-study-text">After 3 days of launching wizards for 44 odd services the daily revenue from the wizard, is already equal to the daily revenue from a 15 person business development team</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="hidden-xs">
          <h1 class="sub-heading font-weight-bold">Product/Key Features</h1>
          <p class="case-study-text">
            <p dir="ltr">We started with solving the most important problem first. They <b>didn’t</b> want to scale the customer acquisition process by hiring more business development executives. They wanted to build an online system that would make process collecting customer details and getting the customer to pay online without any intervention from a business development executive.</p>
            <p dir="ltr">To solve the problem of expensive customer acquisition, we proposed a wizard based approach that would ask the customer intelligent questions and lead the customer to the right service choices. We validated the idea by building a quick prototype for one type of legal service, in about a week and launched it to paying customers. The prototype generated enough conversion to positively vet the hypothesis that customers would indeed answer questions, select the right recommended service and then make an online payment, bypassing the long phone calls with the business development team.</p>
            <p dir="ltr">We built the Customer Acquisition System to solve this problem. The system had the following key components:</p>
            <ul>
              <li dir="ltr">
                <p dir="ltr">Meta Wizard: Hrishi’s (our customer), long term goal was to use the VakilSearch platform to quickly launch any professional services (like, legal, company secretary and chartered accountants). We had to enable the marketing team at VakilSearch to quickly create wizards that would guide the customer to the right product. We created an admin tool what would let the marketing team define services, create wizards by adding questions, expected answer types and logic to conditionally connect the questions.</p>
              </li>
              <li dir="ltr">
                <p dir="ltr">Recommendation Engine: We created an engine that could analyze customers’ response to questions in the wizard and recommend the services most appropriate. We also enabled the product team to stitch recommended services to the wizard and also configure up sell and cross sell services.</p>
              </li>
              <li dir="ltr">
                <p dir="ltr">Pricing Engine: Pricing of legal services is complicated because of varying government rules for different types of services. To complicate matters the rules are different in each state of India. We built a pricing engine that would enable the marketing team to create dynamic pricing for complex pricing scenarios in a matter of minutes. It was as easy as creating a formula in an Excel sheet.</p>
              </li>
              <li dir="ltr">
                <p dir="ltr">Customer Portal: We created a way to generate the customer facing website from a set of configuration files. The marketing team would create wizards, assign recommendations and price services at the backend. The front end of the entire app would then be dynamically generated without writing a single line of code. This would help Hrishi realize his dream of launching new services on the platform in a matter of minutes.</p>
              </li>
              <li dir="ltr">
                <p dir="ltr">Analytics: Analytics is a key part of any consumer app. It is critical for the product team to know how the user behaves of the site. We created a configurable analytics framework, where success or failure events would be generated at every user interaction without the marketing team having to specify any additional inputs or configurations</p>
              </li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="testimony">
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <p class="quote">
            <em>"Very good communication between Multunus and our team"</em>
          </p>
          <div class="client-info">
            <div class="row clearfix">
              <div class="horizontal-line">
                <hr>
              </div>
              <div class="client-image-container">
                <%= image_tag 'RMS.jpg', class: 'text-xs-center client-image'%>
              </div>
            </div>
            <h4 class="client-detail font-weight-bold">Hrishikesh Datar</h4>
            <h4 class="client-detail">VakilSearch</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="what-we-learned-text col-md-6">
          <h1 class="sub-heading font-weight-bold">What we learned</h1>
          <p class="case-study-text">Once the printer ink runs dry it has to be replaced with another inkjet cartridge. There are many reputed companies like Canon, Epson, Dell, and Lexmark that provide the necessary cartridges to replace the empty cartridges. Replacing inkjet cartridge can add to a very big cost. It could be worse if you have to replace the empty cartridges frequently every month. Nowadays many buyers are making use of compatible Inkjet Cartridges as they are less expensive and are easily available online. These compatible inkjet cartridges are available from the third party at a much lower price. These cartridges can be replaced by the printer ink of similar brand. 
          </p>
        </div>
        <div class="what-we-learned-figures col-md-6"></div>
      </div>
    </div>
  </div>
</section>

<div class="next-case-study-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3 class="next-project font-weight-extra-bold">next project</h3>
        <ul class="list-inline hidden-xs">
          <li class="hash-tag font-weight-bold">lorem</li>
          <li class="hash-tag font-weight-bold">dolor</li>
          <li class="hash-tag font-weight-bold">ipsum</li>
        </ul>
        <h1 class="title font-weight-bold xs-extra-padding">EyzUp saves people from their smartphones</h1>
      </div>
    </div>
  </div>
</div>
