<div class="blog-panel panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Blogs</div>
    
    <!-- List group -->
    <ul class="list-group">
        <% blog.articles.sort_by(&:date).reverse!.each do |article| %>
            <li class="list-group-item"><%= link_to article.title, article %></li>
        <% end %>
    </ul>
</div>
