<div class="row">
  <div class="col-sm-12">
    <div class="case-study-card orange-card">
      <ul class="list-inline hidden-xs">
        <% hash_tags.each do |hash_tag| %> 
          <li class="hash-tag font-weight-bold"><a href="/case-study.html"><%= hash_tag %></a></li>
        <% end %>
      </ul>
      <h1 class="title font-weight-bold"><a href="#"><%= title_text %></a></h1>
    </div>
  </div>
</div>
