<section class="get-in-touch-banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="need-help-msg text-right text-xs-center"><%= message %></p>
            </div>
            <div class="col-sm-6">
                <%  button_styles = button_styles ? button_styles : 'btn btn-primary' %>
                <a class="<%= button_styles %> text-center font-weight-extra-bold text-uppercase" href="#"><%= button_text %></a>
            </div>
        </div>
    </div>
</section>
