<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h4 class="text-uppercase font-weight-bold footer-title">Services</h4>
                <ul>
                    <li class="text-capitalize font-weight-light">Consumer app</li>
                    <li class="text-capitalize font-weight-light">Fintech</li>
                    <li class="text-capitalize font-weight-light">Design sprint</li>
                    <li class="text-capitalize font-weight-light">Mobile device management</li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="text-uppercase font-weight-bold footer-title">Open Source</h4>
                <ul>
                    <li class="text-capitalize font-weight-light">OneMDM</li>
                    <li class="text-capitalize font-weight-light">RubyMation</li>
                    <li class="text-capitalize font-weight-light">MoveIt</li>
                    <li class="text-capitalize font-weight-light">React Boilerplate</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h4 class="text-uppercase font-weight-bold footer-title">Subscribe to our newsletter</h4>
                <p class="follow-us font-weight-light"><span class="font-weight-bold">Follow us:</span> Facebook  • twitter  • LinkedIn  • Github</p>
                <p class="contact-us font-weight-light"><span class="font-weight-bold">Contact:</span> info@multunus.com | +91 123 123 1234</p>
            </div>
        </div>
    </div>
</footer>
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-left">
                <p class="no-margin font-weight-light">© 2016 Multunus Software Pvt. Ltd. </p>
            </div>
            <div class="col-md-6 text-right">
                <p class="no-margin font-weight-light">With <span class="heart-icon">♥</span> from India.</p>
            </div>
        </div>
    </div>
</div>
