<section class="get-in-touch-banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p class="need-help-msg text-right">Need help on your project?</p>
            </div>
            <div class="col-sm-6">
                <a class="btn btn-primary text-center font-weight-extra-bold text-capitalize" href="#">Let's get in touch</a>
            </div>
        </div>
    </div>
</section>
