<section class="main-banner <%= page %>">
    <div class="container-fluid">
        <div class="col-xs-12">
            <div class="title-container">
                <h1 class="title text-uppercase text-center font-weight-extra-bold"><%= title %></h1>
                <%  if description %>
                    <p class="description text-center"><%= description %></p>
                <% end %>
            </div>
        </div>
    </div>
</section>
