<section class="section our-thoughts clearfix">
    <h1 class="title text-center font-weight-light">Our thoughts</h1>
    <div class="container">
        <div class="row tile">
            <div class="col-md-6">
                <div class="blog-tile">
                    <h6 class="text-uppercase text-left category-title font-weight-bold">Business</h6>
                    <h3 class="title font-weight-bold">5 Tips For Offshore Software Development</h3>
                    <%= with_ellipsised_text tag: 'p', text: 'With MySpace becoming more popular every day, there is the constant need to be different. There are many more lines followed by this but hidden', length: 140, options: {class: 'short-description'}  %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="blog-tile">
                    <h6 class="text-uppercase text-left category-title font-weight-bold">Marketing</h6>
                    <h3 class="title font-weight-bold">How To Boost Your Traffic Of Your Blog And Destroy The Competition</h3>
                    <%= with_ellipsised_text tag: 'p', text: 'With MySpace becoming more popular every day, there is the constant need to be different. There are many more lines followed by this but hidden', length: 140, options: {class: 'short-description'}  %>
                </div>
            </div>
        </div>
        <div class="row tile">
            <div class="col-md-4">
                <div class="blog-tile">
                    <h6 class="text-uppercase text-left category-title font-weight-bold">Design</h6>
                    <h4 class="title font-weight-bold">A Starter Guide To Learning Design</h4>
                    <p class="short-description">With MySpace becoming more popular every day, there is the constant need to be different.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-tile">
                    <h6 class="text-uppercase text-left category-title font-weight-bold">Technology</h6>
                    <h4 class="title font-weight-bold">Merge Hells? Feature Toggles to the rescue!</h4>
                    <p class="short-description">With MySpace becoming more popular every day, there is the constant need to be different.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="blog-tile">
                    <h6 class="text-uppercase text-left category-title font-weight-bold">Design</h6>
                    <h4 class="title font-weight-bold">Growing an early stage startups</h4>
                    <p class="short-description">With MySpace becoming more popular every day, there is the constant need to be different.</p>
                </div>
            </div>
        </div>
    </div>
</section>
