<%= partial 'main_banner', locals: { page: 'contact-us', title:  "About us", description: nil } %>
<section class="section section-striped about-section clearfix">
    <div class="container">
        <div class="row">
            <p class="text-xs-center">
                About us, what we beleive in, what is our vision and how copy that will reflect how we work. About us, what we beleive in, what is our vision and how copy that will reflect how we work. About us, what we beleive in, what is our vision and how copy that will reflect how we work. About us, what we beleive in, what is our vision and how copy that will reflect how we work.
            </p>
        </div>
    </div>
</section>
<%= partial 'footer_banner', locals: { message: 'Learn more about how we work', button_text: "Read our playbook", button_styles: 'btn btn-secondary' } %>
<%= partial 'team_section' %>
<%= partial 'footer_banner', locals: { message: 'Need help on your project?', button_text: "Let's get in touch", button_styles: 'btn btn-primary with-pressed-effect' } %>
