<%= partial 'main_banner', locals: { page: 'contact-us', title:  "Freedom", description:  "Start with a 4 day workweek"} %>

<section class="section-striped">
  <div class="container">
    <div class="row">
      <p class="text-center status-question"><em>Does this look any different from your world? Shure’s Music Phone Adapter (MPA) is our favorite iPhone solution, since it lets you use the headphones you’re most comfortable with.</em></p>
    </div>
  </div>
</section>

<section class="perk section section-striped">
  <div class="container">
    <div class="row">
      <div class="perk col-sm-6 col-xs-12">
        <div class="col-sm-offset-1 col-sm-10 text-xs-center">
          <h3 class="perk-title font-weight-bold">Choose a 4 day workweek</h3>
          <p class="perk-description">Choose your favorite project. Work on it every Monday. Read more about our 20% investment time.</p>
        </div>
      </div>
      <div class="perk col-sm-6 col-xs-12">
        <div class="col-sm-offset-1 col-sm-10 text-xs-center">
          <h3 class="perk-title font-weight-bold">Choose our future</h3>
          <p class="perk-description">Yep. Get elected into our council and make CEO level decisions. Like..what our revenues should be. No kidding.</p>
        </div>
      </div>
      <div class="perk col-sm-6 col-xs-12">
        <div class="col-sm-offset-1 col-sm-10 text-xs-center">
          <h3 class="perk-title font-weight-bold">Choose your salary</h3>
          <p class="perk-description">Its 2016. It’s time to break the rules. Have fun using our autonomous salary system.</p>
        </div>
      </div>
      <div class="perk col-sm-6 col-xs-12">
        <div class="col-sm-offset-1 col-sm-10 text-xs-center">
          <h3 class="perk-title font-weight-bold">Choose your future</h3>
          <p class="perk-description">Want to code all your life? No problem. Want to try out product management or think you’re a designer at heart? Go for it.</p>
        </div>
      </div>
    </div>
    <div class="text-center">
      <a class="btn btn-secondary with-arrow text-bold" href="#">Learn more about our Process</a>
    </div>
  </div>
</section>

<section class="section section-striped text-center">
  <div class="container">
    <div class="row">
      <h1 class="section-title font-weight-light">Open Positions</h1>
      <div class="col-sm-4">
        <div class="position-listing margin-xs-bottom">
          <h3 class="">Interaction Designer</h3>
          <p class="text-center">More than sketch, photoshop and wireframes!</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="position-listing margin-xs-bottom">
          <h3 class="">Senior Programmer</h3>
          <p class="text-center">Love "The Passionate Programmer" book? Then read on.</p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="position-listing margin-xs-bottom">
          <h3 class="">Senior Architect</h3>
          <p class="text-center">Love Architectural Patterns &amp; Emergent Design? Then read on.</p>
        </div>
      </div>
    </div>
  </div>
</section>

