<section class="clearfix">
  <div class="case-study-banner">
      <div class="banner-image"></div>
    <div class="container text-xs-center">
      <div class="col-sm-offset-1 col-sm-10">
        <ul class="list-inline text-xs-center">
          <li class="hash-tag font-weight-bold">lorem</li>
          <li class="hash-tag font-weight-bold">dolor</li>
          <li class="hash-tag font-weight-bold">ipsum</li>
        </ul>
        <h1 class="title font-weight-bold text-xs-center">EyzUp saves people from their smartphones</h1>

        <a class="btn btn-hollow with-arrow font-weight-bold visit-site-button" href="">Visit bidPress.com</a>

        <div class="case-study-synopsis">
          <p>Are we human because of unique traits and attributes not shared with either animal or machine? The definition of “human” is circular: we are human by virtue of the properties that make us human (i.e., distinct from animal and machine). It is a definition by negation: that which separates us from animal and machine is our “human-ness”.
          </p>
          <p>We are human because we are not animal, nor machine. But such thinking has been rendered progressively less tenable by the advent of evolutionary and neo-evolutionary theories which postulate a continuum in nature between animals and Man.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="case-study-summary section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12">
        <h3 class="font-weight-bold">The Challenge</h3>
        <p>There are advances being made in science and technology everyday, and a good example of this is the LCD monitor.</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h3 class="font-weight-bold">Our Solution</h3>
        <p>There are advances being made in science and technology everyday, and a good example of this is the LCD monitor.</p>
      </div>
      <div class="col-md-4 col-sm-12">
        <h3 class="font-weight-bold">The Outcome</h3>
        <p>Philosophy is considered a science but it is difficult to say, when one has to compare with an ordinary science, for example biology, or chemistry. </p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="sub-heading font-weight-bold">Humble beginnings</h1>
        <p class="case-study-text">Once the printer ink runs dry it has to be replaced with another inkjet cartridge. There are many reputed companies like Canon, Epson, Dell, and Lexmark that provide the necessary cartridges to replace the empty cartridges. Replacing inkjet cartridge can add to a very big cost. It could be worse if you have to replace the empty cartridges frequently every month. Nowadays many buyers are making use of compatible Inkjet Cartridges as they are less expensive and are easily available online. These compatible inkjet cartridges are available from the third party at a much lower price. These cartridges can be replaced by the printer ink of similar brand. Compatible Inkjet Cartridge will help you to make extra-ordinary savings with money back guarantee. As soon as the cartridge gets empty the ink that it contains begins to dry and finally clogs the nozzle. You can refill the cartridge once it reaches its wear out condition. Always remember to refill the cartridge as early as possible.  

          With Compatible Inkjet Cartridge you do not need to sacrifice the quality of your printer. It works with excellent efficiency that not only offers you quality output but it also maintains the quality of your printer for a longer period of time. Get Compatible Inkjet Cartridge for any printer that uses ink of any color.</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="hidden-xs">
          <h1 class="sub-heading font-weight-bold">Some Other Title</h1>
          <p class="case-study-text">Once the printer ink runs dry it has to be replaced with another inkjet cartridge. There are many reputed companies like Canon, Epson, Dell, and Lexmark that provide the necessary cartridges to replace the empty cartridges. Replacing inkjet cartridge can add to a very big cost. It could be worse if you have to replace the empty cartridges frequently every month. Nowadays many buyers are making use of compatible Inkjet Cartridges as they are less expensive and are easily available online. These compatible inkjet cartridges are available from the third party at a much lower price. These cartridges can be replaced by the printer ink of similar brand. Compatible Inkjet Cartridge will help you to make extra-ordinary savings with money back guarantee. As soon as the cartridge gets empty the ink that it contains begins to dry and finally clogs the nozzle. You can refill the cartridge once it reaches its wear out condition. Always remember to refill the cartridge as early as possible.  
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="testimony">
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <p class="quote">
            <em>
              “If you are applying for a job abroad (particularly in Europe or South America), a Motivation Letter For Work Abroad takes the place of a Cover Letter. Both resumes and Motivation Letters are much less formal than their United States equivalents.“
            </em>
          </p>
          <div class="client-info">
            <div class="row clearfix">
              <div class="horizontal-line">
                <hr>
              </div>
              <div class="client-image-container">
                <%= image_tag 'RMS.jpg', class: 'text-xs-center client-image'%>
              </div>
            </div>
            <h4 class="client-detail font-weight-bold">Tony Wavering</h4>
            <h4 class="client-detail"> Founder 	&amp; CEO, bidPress.com</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="what-we-learned-text col-md-6">
          <h1 class="sub-heading font-weight-bold">What we learned</h1>
          <p class="case-study-text">Once the printer ink runs dry it has to be replaced with another inkjet cartridge. There are many reputed companies like Canon, Epson, Dell, and Lexmark that provide the necessary cartridges to replace the empty cartridges. Replacing inkjet cartridge can add to a very big cost. It could be worse if you have to replace the empty cartridges frequently every month. Nowadays many buyers are making use of compatible Inkjet Cartridges as they are less expensive and are easily available online. These compatible inkjet cartridges are available from the third party at a much lower price. These cartridges can be replaced by the printer ink of similar brand. 
          </p>
        </div>
        <div class="what-we-learned-figures col-md-6"></div>
      </div>
    </div>
  </div>
</section>

<div class="next-case-study-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h3 class="next-project font-weight-extra-bold">next project</h3>
        <ul class="list-inline hidden-xs">
          <li class="hash-tag font-weight-bold">lorem</li>
          <li class="hash-tag font-weight-bold">dolor</li>
          <li class="hash-tag font-weight-bold">ipsum</li>
        </ul>
        <h1 class="title font-weight-bold xs-extra-padding">EyzUp saves people from their smartphones</h1>
      </div>
    </div>
  </div>
</div>
