<section class="main-banner contact-us-banner">
    <div class="container-fluid">
        <div class="col-xs-12">
            <div class="title-container">
                <h1 class="title text-uppercase text-center font-weight-extra-bold">Let's talk</h1>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <form>
                    <div class="form-group required">
                        <label for="InputName">Name</label>
                        <input type="text" class="form-control input-lg" id="InputName" placeholder="Name">
                    </div>
                    <div class="form-group required">
                        <label for="InputEmail">Email</label>
                        <input type="email" class="form-control input-lg" id="InputEmail" placeholder="Email">
                    </div>
                    <div class="form-group required">
                        <label for="InputHelp">How can we help you?</label>
                        <textarea class="form-control input-lg" id="InputHelp" placeholder="" rows="3"></textarea>
                    </div>
                    
                    <button type="submit" class="btn btn-submit text-uppercase full-width">Submit</button>
                </form>
            </div>
            <div class="col-sm-6 contact-info-container">
                <address class="info">
                    <p class="title text-uppercase font-weight-bold">Address</p>
                    <p>
                        <span>Multunus Software Pvt Ltd,</span>
                        <span>2nd floor, 1316/A, 9th Cross Rd, Phase 2, J P Nagar,</span>
                        <span>Bengaluru, Karnataka 560078</span>
                    </p>
                </address>
                
                <div class="email info">
                    <p class="title text-uppercase font-weight-bold">Email</p>
                    <p><a class="" href="mailto:info@multunus.com">info@multunus.com</a></p>
                </div>
                
                <div class="open-hours info">
                    <p class="title text-uppercase font-weight-bold">Walk right in</p>
                    <p>9:30 AM to 7:00 PM (IST) - Monday to Friday</p>
                </div>
                
            </div>
        </div>
    </div>
</section>
