<div class="carousel">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 no-padding">
                <%= carousel_tag [{
                    image: asset_path(:images, 'abstract_fish_hd_wallpapers.png'),
                    title: 'Journey is the reward'
                },{
                    image: asset_path(:images, 'fire-abstract-HD-wallpaper.jpg'),
                    title: 'Journey is the reward'
                },{
                    image: asset_path(:images, 'Abstract-Wallpaper-Pics-K7N.png'),
                    title: 'Journey is the reward'
                }]
                %>
            </div>
        </div>
    </div>
</div>
