<section class="section clearfix">
  <div class="container">
    <h1 class="title text-center font-weight-light">Our Work</h1>
    <p class="text-center work-synopsis">Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker, projector, hardware and more. laptop accessory compaq laptop battery compaq laptop battery charger compaq laptop computer … Large main compartment features a padded laptop computer pocket, accessory pockets, mesh disk pockets, and ample room for business papers.</p>
  </div>

</section>


<section>
  <div class="container">

    <% data.work.case_studies.each do |case_study| %>

      <%= partial 'case_study_card', locals: { case_study: case_study } %>

    <% end %>

  </div>
</section>

<%= partial 'footer_banner', locals: { message: 'Need help on your project?', button_text: "Let's get in touch", button_styles: 'btn btn-primary with-pressed-effect' } %>
